.container {
	background: none;
	border: none;
	padding: 0.5rem;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-family: sans-serif;
}

.primary {
	background-color: black;
	color: white;
}

.primary:active {
	background-color: white;
	color: black;
}

.negative {
	background-color: white;
	color: black;
}

.negative:active {
	background-color: black;
	color: white;
}
